* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* layout start here  */



.navbar {
    z-index: 999;
    margin-top: 0.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.navbar img {
    cursor: pointer;
}

.collapse button {
    border: none;
    background: #75E3EA;
    padding: 6px 24px;
    border-radius: 37px
}

.collapse button a {
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;
    fill: #313131;
    color: #313131
}

.collapse button:hover {
    background-color: white;
}

.navbar-nav {
    margin-right: 6rem;
    gap: 0rem;
}

.navbar-nav .nav-item .nav-link {
    color: white !important;
    font-size: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: red !important;
}

.dropdown-menu {

    background: #75E3EA !important;

}

.dropdown-menu li .dropdown-item:hover {
    background-color: #75E3EA;
}

.banner-col {
    background-image: url(/images/backgroundbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 32.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    position: relative;
    top: -5.2rem;
    left: 0;
}

.banner-col-p {
    padding: 0 !important;
}

.banner-right img {
    width: 100%;
    height: 32.2rem;

}

.banner-left {
    margin-left: 6rem;
    color: white;
}

.banner-left h2 {
    font-family: "Poppins", Sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px
}

.banner-left p {
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.banner-left button {
    background-color: #75E3EA;
    margin-top: 1.2rem;
    border: none;
    border-radius: 40px 40px 40px 40px;
    padding: 10px 30px 10px 30px
}
.banner-left button:hover{
    background-color: white;
}
.banner-left button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    fill: #313131;
    color: #313131
}

/* header end here  */


/* weight loss section start here  */

.weight-loss h2{
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 40px;
}
.weight-loss h2 span{
    color: #5D33B4
}
.weight-loss .img{
 text-align: end;
}
.weight-loss p{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.weight-button{
    text-align: center;
    margin-top: 2rem 
}
.weight-button button{
    background-color: #75E3EA;
    margin-top: 1.2rem;
    border: none;
    border-radius: 40px 40px 40px 40px;
    padding: 11px 10px 11px 10px
}
.weight-button button:hover, 
.weight-button a:hover

{
    background-color:#5D33B4;
    color: white;
 
 
}
.weight-button a:hover{
    
}
.weight-button button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    fill: #313131;
    color: #313131;
}
.card-group{
    text-align: center;
    margin-top: 2rem !important;
}
.card:hover{
    background-color: #c0b1df !important;
}
.card-img{
    text-align: center;
}
.card{
    margin-right: 1rem !important;
    border-radius: 12px !important;
    background-color: rgb(240,239,245) !important;
    margin-bottom: 1rem !important;
}
.card-img img{
    width: 33%;
}
.card-body .card-title{
    margin-bottom: 14px;
    color: #313131;
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.card-body .card-text{
    color: #0E0D0D;
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400
}
.card-body span i{
    font-size: 13px;
  cursor: pointer;
    border: 2px solid #5D33B4;
    border-radius: 50%;
    margin-left: 6px;

}
.card-body a{
    color: #5D33B4;
}

/* weight  loss section end here  */



/* strive section start here  */
.one{
    background: linear-gradient(65deg, rgb(142,84,233) 0%, rgb(96,98,226));
    padding: 2rem;
    border-radius: 15px
}



.strive-right h3{
    color: #ffffff;
    font-family: "Inter", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
}
.strive-button{
    text-align: center;
}
.strive-button  button{
    background-color: #75E3EA;
    margin-top: 1.2rem;
    border: none;
    border-radius: 40px 40px 40px 40px;
    padding: 11px 10px 11px 10px;

}
.strive-button button a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    fill: #313131;
}
.strive-button button:hover{
    background-color: white;
}

/* strive section end here  */



/* health section start here  */

.life-style{
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.heading{
    text-align: center;
}
.heading h2{
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 40px;
}
.heading span{
    color: #5D33B4;
}
.heading .img{
    text-align: right;
}

.heading p{
    color: #0E0D0D;
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.card-body-1 .card-title-1{
    margin-bottom: 10px;
    margin-top: 2rem;
    color:black;
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
}
.card-body-1 .card-text-1{
    color: #0E0D0D;
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    margin-right: 1rem;
}
.card-1{
    height: 100%;
    background-color: rgb(240,239,245) !important;
    padding: 0rem 0rem 1rem 0.5rem ;
    margin-bottom: 1rem;
   
}
.card-1:hover{
    background-color: rgb(197,242,245) !important;
}
/* health section ENd here  */



/* section question start here  */
.head-question{
    text-align: center;
    margin-bottom: 2rem;
}
.head-question h2{
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 40px;
}
.head-question span{
    color: #5D33B4;
}
.accordion{
    border: 0.5px solid gray;
}
.accordion-header{
    border: 2px solid gray;
}
/* section question ENd here  */


/* section tool start eher  */
.tool{
    background-color: rgb(240,239,245);
    padding: 4rem 0rem;
}
.toll-right{
    margin-bottom: 2rem;
}
.toll-right h2{
    color: #000000;
    font-family: "Inter", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
.toll-right span{
    color: #5D33B4;
}
.toll-one{
    display: flex;
}
.toll-one i{
    font-size: 21px;
    background: #75E3EA;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
    /* margin-top: 12px; */

}
.toll-one h2{
    font-size: 18px;
    margin-bottom: 0;
}
.toll-one p{
    color: #0E0D0D;
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400;

}

.form{
    background-color: rgb(93,51,180);
    padding: 3rem;
    border-radius: 24px 
}
.form h2{
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
}
input{
    padding: 0.6rem !important;
}
input .text{
    padding: 2rem;
}
.form button{
    background-color: #75E3EA;
    margin-top: 1.2rem;
    border: none;
    border-radius: 40px 40px 40px 40px;
    padding: 11px 10px 11px 10px;

}
.form button a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    fill: #313131;
}
.form button:hover{
    background-color: white;
}
.form textarea{
    height: 75px;
    border-radius: 10px;
    font-size: 13px;
    width: 100%;
}
/* * section tool start eher  */ 


/* footer start here  */

footer{
    background-color: rgb(234,233,241);
    padding: 3rem;
}
.footer-img{
    margin-bottom: 2rem;
}
.footer-1 p{
    color: rgb(84,89,95);
    font-family: "Inter", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.footer-1 i{
    font-size: 21px;
    background: #75E3EA;
    padding: 8px;
    border-radius: 50%;
cursor: pointer;
}
.footer-2 h1{
    color: #313131;
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.footer-2{
    margin-left: 2rem;
    border-right: 1px solid rgb(194, 193, 193);
}
.footer-2 ul{
    padding-left: 0;
}
.footer-2 ul li{
    list-style: none;
   margin-bottom: 0.5rem;
}
.footer-2 ul li a{
    text-decoration: none;
    color: rgb(84,89,95);
    
}
.footer-3 h1{
    color: #313131;
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.footer-3{
    margin-left: 2rem;
   
}
.footer-3 ul{
    padding-left: 0;
}
.footer-3 ul li{
    list-style: none;
   margin-bottom: 0.5rem;
}
.footer-3 ul li a{
    text-decoration: none;
    color: rgb(84,89,95);
    
}

.footer-copy{
    margin-top: 10px;
}
.copy h2{
    color: black;
    font-family:  Sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.link ul{
    display: flex;
    list-style: none;
}
.link ul li{
    margin-right: 10px;
}
.link ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* footer ENd here  */


/* Responisve  */

@media only screen and (max-width: 991.5px) {
    .navbar {
      background-color: rgb(99,96,225);
    }.copy{
        text-align: center;
    }
  }

  @media only screen and (max-width: 767.5px) {
    
    .banner-right{
        display: none !important;
    }
  }
  @media only screen and (max-width: 600.5px) {
    
    .banner-left{
        margin-left: 2rem;
    }
  }